*{
    margin: 0px;
    padding: 0px;
}
/* **Navbar Section** */
nav{
    display: flex;
    background-color: black;
    color: bisque;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
}
.nav-link{
    display: flex;
}
.nav-link a{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    font-size: 20px;
}

/* **Digital Section** */
.digital{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('./asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));;
    background-blend-mode: overlay;
    background-size: cover;
}
.digital-text{
    max-width: 60%;
    text-align: center;
    color: white;
}
.red{
    color: red;
}
.digital-title{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.btn-red{
    margin: 10px;
    padding: 10px;
    font-size:18px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor:pointer;
    
}
.btn-white{
    margin: 10px;
    padding: 10px;
    font-size:18px;
    border: none;
    border-radius: 5px;
    background-color:white;
    cursor:pointer; 
}

/* **Service Section** */

.service{
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-text{
    color: beige;
    list-style: none;
}
.service-text li{
    list-style: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    padding-top: 30px;
    padding-right: 10px;
}

.logo-img>small{
    font-size: 15px;
}
.logo-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;
}
.butooon{
    border-left: 3px solid red;
    padding-left: 40px;
}
.service-title{
    font-size: 40px;
    color: beige;
    padding: 20px 0px;
}
.ser-text{
    font-size: 20px;
    padding: 20px 0px;
}
.box{
    height: 250px;
    width: 250px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
.box>img{
    height: 100px;
    width: 100px;
    padding-top: 50px;
}
.box-12{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.box-34{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
